DB_HOST=db
DB_NAME=product_import
DB_USER=root
DB_PASSWORD=secret
DB_PORT=3306

JWT_SECRET=LF13XQlO2Sifg0CHq8O6_dqKPpshj370-6UNEOsAIQ1aFbgi6AaMXhbxNsE3G8QAGV_e6HYxCuTOiylxEKT9Qw
JWT_EXPIRY=3600

APP_ENV=development
APP_DEBUG=true

CORS_ORIGIN=*

MESSENGER_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672

UPLOAD_DIR=/var/www/uploads
